.block-help .messages {
    padding: 7px 14px;
}
.block-help .messages + .messages {
    margin-top: 0;
}
.block-help .messages.messages--info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #0074bd #0074bd #0074bd transparent;
    box-shadow: -8px 0 0 #0074bd;
}
.block-help .block-help-item .help-close {
    float: right;
    font-size: 18px;
    color: inherit;
    text-decoration: none;
}
.block-help .block-help-item .help-more {
    padding-left: 15px;
}
.block-help .block-help-item .button.youtube-link:before {
    content: '► ';
    font-size: .8em;
}
.block-help .messages  a,
.block-help .messages  a:hover {
  color: inherit;
}
.block-help .messages  .help-more,
.block-help .messages  .help-close {
  font-size: small;
  color: #686868;
}
